########################################################################################################################
# TODO Requirements Package Dependencies
########################################################################################################################
setuptools
build

########################################################################################################################
# => NOTE dependencies for build script:
########################################################################################################################
flet>=0.7.4
git+https://github.com/MrYassinox/utils-standard.git@v1.1.2

########################################################################################################################
# => NOTE dependencies for build docs:
########################################################################################################################

########################################################################################################################
# => NOTE dependencies whl:
########################################################################################################################
#  It is possible to refer to specific local distribution paths [./downloads/numpy-1.9.2-cp34-none-win32.whl] or It is possible to refer to URLs.[http://wxpython.org/wxPython-cp34-none-win_amd64.whl]

########################################################################################################################
# => NOTE dependencies optional:
########################################################################################################################
-e .